<%- include('partials/header'); -%>

<h1>about</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti tempore amet
  incidunt excepturi, tempora ratione sunt! Eius, delectus possimus iste autem
  odio rem. Quaerat quis itaque, tenetur vitae, repellat minus culpa velit sit
  libero dolores quod esse? Fuga sequi harum fugiat aspernatur. Qui sit delectus
  consequatur porro impedit a earum beatae quibusdam accusamus accusantium
  minima dolorum eius inventore, atque hic distinctio animi minus libero
  eveniet, cum eos nostrum nam ea repudiandae? Ratione id a reprehenderit
  eligendi amet architecto accusamus doloremque quidem omnis rerum. Quae,
  voluptas veniam? Nesciunt facilis sunt, eveniet culpa, similique a accusamus
  eligendi ea odit accusantium ex eos?
</p>

<%- include('partials/footer'); -%>
